alias glgg='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
tfp='terraform plan'
tfpvf='terraform plan -var-file=./env/'
tfpd='terraform plan -destroy'
tfpdv='terraform plan -destroy -var='
tfpdvf='terraform plan -destroy -var-file=./env/'
tfpout='terraform plan -out'
tfpoutf='terraform plan -out=plan.tfplan'
tfa='terraform apply'
tfavf='terraform apply --var-file=./env/'
tfaa='terraform apply -auto-approve'
tfavaf='terraform apply -auto-approve -var-file=./env/'
tfav='terraform apply -var='
tfi='terraform init'
tfv='terraform validate'
tfw='terraform workspace'
tfws='terraform workspace select'
tfwl='terraform workspace list'
tfwd='terraform workspace delete'
tfwn='terraform workspace new'
tfwsh='terraform workspace show'
