alias glgg='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias tfp='terraform plan'
alias tfpvf='terraform plan -var-file=./env/'
alias tfpd='terraform plan -destroy'
alias tfpdv='terraform plan -destroy -var='
alias tfpdvf='terraform plan -destroy -var-file=./env/'
alias tfpout='terraform plan -out'
alias tfpoutf='terraform plan -out=plan.tfplan'
alias tfa='terraform apply'
alias tfavf='terraform apply --var-file=./env/'
alias tfaa='terraform apply -auto-approve'
alias tfavaf='terraform apply -auto-approve -var-file=./env/'
alias tfav='terraform apply -var='
alias tfi='terraform init'
alias tfv='terraform validate'
alias tfw='terraform workspace'
alias tfws='terraform workspace select'
alias tfwl='terraform workspace list'
alias tfwd='terraform workspace delete'
alias tfwn='terraform workspace new'
alias tfwsh='terraform workspace show'
alias vsce='code --install-extension'
alias vscu='code --uninstall-extension'
alias vsc='code'
alias vscs='code --status'
alias vscn='code --new-window'
alias vscr='code --reuse-window'
alias vsca='code --add'
alias vscw='code --wait'
alias vscv='code --version'
alias vscd='code --diff'
alias vscm='code --goto'
